
*~
\#*\#
*.old
*.zip
*.tgz
.travis.yml
config.xml
secrets.*
ssl/
node_modules/
.idea
.temp
.sass-cache
coverage/
platforms/
*.swp
*.swo
*.log
*.DS_Store

build/

*.js

.nyc_output/
/secrets.ts
.vscode/
modules/
core/
